%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :zipcode
    %br/
    = f.text_field :zipcode
  .field
    = f.label :prefecture
    %br/
    = f.text_field :prefecture
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :district
    %br/
    = f.text_field :district
  .field
    = f.label :building
    %br/
    = f.text_field :building
  .actions
    = f.submit "Next"
= render "devise/shared/links"
