-# = link_to "新規登録", new_user_registration_path
-# = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post
-# = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post

%header.single-header
  = image_tag "/fmarket_logo_red.svg", height:'50', width:'185'
%main.page-zero
  %section
    %h2 新規会員登録
    .login-buttons
      = link_to new_user_registration_path , class: 'button button1' do
        %i.fas.fa-envelope
        %p メールアドレスで登録する
      = link_to user_facebook_omniauth_authorize_path, method: :post , class: 'button button2' do
        %i.fab.fa-facebook-square
        %p Facebookで登録する
      = link_to user_google_oauth2_omniauth_authorize_path, method: :post , class: 'button button3' do
        %i.fab.fa-google
        %p Googoleで登録する
%footer.single-footer
  %nav
    %ul.clearfix
      %li
        %link_to プライバシーポリシー
      %li
        %link_to メルカリ利用規約
      %li
        %link_to 特定商取引に関する表記
  %link_to{href: "https://www.mercari.com/jp/"}
    = image_tag "/logo_gray.svg", height:'65', width:'80'
  %p
    %small © Mercari, Inc.

