.popular
  %h2 人気のカテゴリー
  .popular__lists
    %ul
      %li
        = link_to "#" do
          レディース
      %li
        = link_to "#" do
          メンズ
      %li
        = link_to "#" do
          家電・スマホ・カメラ
      %li
        = link_to "#" do
          おもちゃ・ホビー・グッズ


.main-contents
  .main-contents__lists
    .main-contents__lists__head
      %h3 レディース新着アイテム
      = link_to "#" do
        もっと見る
        %i.fas.fa-chevron-right
    .main-contents__lists__bodys
      .main-contents__lists__bodys__body
        %ul.items
          =render partial: "products/category/ladies"
          


  .main-contents__lists
    .main-contents__lists__head
      %h3 メンズ新着アイテム
      = link_to "#" do
        もっと見る
        %i.fas.fa-chevron-right
    .main-contents__lists__bodys
      .main-contents__lists__bodys__body
        %ul.items
          =render partial: "products/category/mens"

  .main-contents__lists
    .main-contents__lists__head
      %h3 家電・スマホ・カメラ新着アイテム
      = link_to "#" do
        もっと見る
        %i.fas.fa-chevron-right
    .main-contents__lists__bodys
      .main-contents__lists__bodys__body
        %ul.items
          =render partial: "products/category/elecs"

  .main-contents__lists
    .main-contents__lists__head
      %h3 おもちゃ・ホビー・グッズ新着アイテム
      = link_to "#" do
        もっと見る
        %i.fas.fa-chevron-right
    .main-contents__lists__bodys
      .main-contents__lists__bodys__body
        %ul.items
          =render partial: "products/category/toys"


.popular
  %h2 人気のブランド
  .popular__lists
    %ul
      %li
        = link_to "#" do
          シャネル
      %li
        = link_to "#" do
          ルイヴィトン
      %li
        = link_to "#" do
          シュプリーム
      %li
        = link_to "#" do
          ナイキ

.main-contents
  .main-contents__lists
    .main-contents__lists__head
      %h3 シャネル
      = link_to "#" do
        もっと見る
        %i.fas.fa-chevron-right
    .main-contents__lists__bodys
      .main-contents__lists__bodys__body
        %ul.items
          =render partial: "products/category/chanel"

  .main-contents__lists
    .main-contents__lists__head
      %h3 ルイヴィトン
      = link_to "#" do
        もっと見る
        %i.fas.fa-chevron-right
    .main-contents__lists__bodys
      .main-contents__lists__bodys__body
        %ul.items
          =render partial: "products/category/vuittons"

    .main-contents__lists
      .main-contents__lists__head
        %h3 シュプリーム
        = link_to "#" do
          もっと見る
          %i.fas.fa-chevron-right
      .main-contents__lists__bodys
        .main-contents__lists__bodys__body
          %ul.items
            =render partial: "products/category/supremes"

      .main-contents__lists
        .main-contents__lists__head
          %h3 ナイキ
          = link_to "#" do
            もっと見る
            %i.fas.fa-chevron-right
        .main-contents__lists__bodys
          .main-contents__lists__bodys__body
            %ul.items
              =render partial: "products/category/nikes"