%header.single-header-one
  .header-min
    %h1
      =link_to '/' do
        = image_tag "/fmarket_logo_red.svg", width:'190'

%main.exhibition
  = form_for (@product) do |f|
    .exhibition__contents
      .contents-header
        %h2 商品の情報を入力
      .up-load-box
        %h3.title-holder
          出品画像
          %span.form-require 必須
        %p 最大5枚までアップロードできます

        .up-load-box__drop-box#image-box
          %ul#have-items

          %label#drop-area.none.active
            = f.file_field :images, multiple: true, id: "drop-upload-file",class:"drop-file-area", accept: "image/*",prompt: "---",required: "true"
            -# %input.drop-file-area{type: "file", multiple: 'multiple',id: "drop-upload-file", name: "image",accept: "image/*" ,}
            %pre
              ドラッグアンドドロップ 
              またはクリックしてファイルをアップロード

                
      .sell-content
        .form-group
          %label
            商品名
            %span.form-require 必須
          = f.text_field :name ,placeholder: "商品名（必須 40文字まで)", maxlength: "40", prompt: "---",required: "true"


        .form-group
          %label
            商品の説明
            %span.form-require 必須
          = f.text_area :description, maxlength: "1000",prompt: "---",required: "true", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"

      .sell-content.sell-selecter
        %h3.sell-sub-head 商品の詳細
        .sell-form-box
          .form-group#category
            %label
              カテゴリー
              %span.form-require 必須
            .select-wrap
              %i.fas.fa-chevron-down

              = f.select :category_id, Category.where(ancestry: nil).collect {|p| [ p.name, p.id, name: p.id] }, {prompt:"---"},html_options = {required: "required",name: "data-none",id: "parent_category"}

          .form-group#size
            %label
              サイズ
              %span.form-require 必須
            .select-wrap
              %i.fas.fa-chevron-down
              = f.collection_select :size_id, Size.all, :id ,:name, {prompt: "---"},{required: "true"}


          .form-group#brand
            %label
              ブランド
              %span.form-require.any 任意
            .select-wrap
              %i.fas.fa-chevron-down
              = f.collection_select :brand_id, Brand.all, :id ,:name,prompt: "---"

          .form-group
            %label
              商品の状態
              %span.form-require 必須
            .select-wrap
              %i.fas.fa-chevron-down
              = f.collection_select :condition_id, Condition.all, :id ,:name, {prompt: "---"},{required: "true"}

      .sell-content.sell-selecter
        %h3.sell-sub-head 
          %span 配送について
          = link_to root_path, class: "infomation" do
            ?
        .sell-form-box#delivery-box
          .form-group#delivery
            %label
              配送料の負担
              %span.form-require 必須
            .select-wrap
              %i.fas.fa-chevron-down
              = f.collection_select :delivery_id, Delivery.all ,:id ,:name, {prompt: "---"},{required: "true"}


          .form-group
            %label
              発送元の地域
              %span.form-require 必須
            .select-wrap
              %i.fas.fa-chevron-down
              = f.collection_select :fromprefecture_id, Fromprefecture.all, :id ,:name, {prompt: "---"},{required: "true"}
              

          .form-group
            %label
              発送までの日数
              %span.form-require 必須
            .select-wrap
              %i.fas.fa-chevron-down
              = f.collection_select :term_id, Term.all ,:id ,:name, {class: "select-default",prompt: "---"},{required: "true"}

      .sell-content.sell-selecter
        %h3.sell-sub-head 
          %span 販売価格(300〜9,999,999)
          = link_to root_path, class: "infomation" do
            ?

        .sell-form-box
          %ul.sell-prace
            %li
              .prace-form
                %label.l-left
                  価格
                  %span.form-require 必須
                .l-right
                  %span ¥
                  = f.number_field :price, id: "input", placeholder: "例）300", onkeyup:"keyup()",min: "300", max:"9999999", required: "true"
            %li
              .l-left 
                販売手数料(10%)
              .l-right
                %span#commission -

            %li.bold
              .l-left
                販売利益
              .l-right
                %span#profit -


      .sell-content.sell-btn-box
        %ul
          %li.text-box
            %p
              = link_to root_path, class:"note" do
                禁止されている出品
              %span 、
              = link_to root_path, class:"note" do
                行為
              %span を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to root_path, class: "note" do
                偽ブランドの販売
              %span は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to root_path, class: "note" do
                加盟店規約
              %span に同意したことになります。
          %li
            = f.submit class:'btn-default' 'btn-red', id: 'submit-btn'
            %button.btn-default.btn-red#submit-btn
              出品する
          %li
            = link_to root_path ,class: "btn-gray" do
              もどる




%footer.single-footer
  %nav
    %ul.clearfix
      %li
        =link_to "#" do
          プライバシーポリシー
      %li
        =link_to "#" do
          メルカリ利用規約
      %li
        =link_to "#" do
          特定商取引に関する表記
  %link_to{href: "https://www.mercari.com/jp/"}
    = image_tag "/logo_gray.svg", height:'65', width:'80'

  %p
    %small © Team_66a, Inc.
