-# 商品詳細ぺージ

=render partial: "layouts/header"

.detail-container
  %h1
    = @product.name
  .detail-container__ditail-wrap

    .imagebox-left
      .imagebox-left__imagebox-large

        - if @product.images.attached?
          - @product.images.each do |image|
            = image_tag image, width: "300", height: "225", class: "inactive"
            


        - if @product.images.attached?
          - @product.images.each do |image|
            = image_tag image, width: "300", width: "300", height: "225", class: "inactive"
            %br/


      .imagebox-left__imagebox-bottom
        - if @product.images.attached?
          - @product.images.each do |image|
            = image_tag image, width: "60", height: "60", class: 'small-view'
            %br/



    %table.table-detail
      %tbody.tbody-detail
        %tr.tr-detail
          %th.th-name
            出品者
          %td
            = link_to "#" do
              = @product.user.nickname
            .face-icon
              %span
                %i.fas.fa-grin.icon-grin
                0
              %span
                %i.fas.fa-meh.icon-meh
                0
              %span
                %i.fas.fa-frown.icon-frown
                0



        %tr.tr-detail
          %th.th-category
            カテゴリー
          %td.td-category
            = link_to "#" do
              = @product.category.parent.parent.name
            = link_to "#" do
              >
              = @product.category.parent.name
            = link_to "#" do
              >
              = @product.category.name

        %tr.tr-detail
          %th.others
            ブランド
          %td
            = link_to "#" do
              = @product.brand.name

        %tr.tr-detail
          %th.others
            商品の状態
          %td
            = @product.condition.name

        %tr.tr-detail
          %th.others
            発送料の負担
          %td
            = @product.delivery.name

        %tr.tr-detail
          %th.others
            発送の方法
          %td
            = @product.shipping.name

        %tr.tr-detail
          %th.others
            発送元地域
          %td
            = link_to "#" do
              = @product.fromprefecture.name
        %tr.tr-detail
          %th.others
            発送の目安
          %td
            = @product.term.name

  .price-box
    %span.price
      ¥
      = @product.price
    %span.tax
      (税込)
    %span.deliver
      送料込み

  = link_to "#", class: "next-box" do
    購入画面に進む
  .item-description
    %p
      = @product.description

  .button-container
    .button-container__button-two
      .button-container__button-two__button-like
        = link_to "#" do
          %i.far.fa-heart
          いいね! 0

      .button-container__button-two__button-report
        = link_to "#" do
          %i.fas.fa-flag-checkered
          不適切な商品の報告

    = link_to "#", class: "button-secure" do
      あんしん・あんぜんへの取り組み
     

.comment-container
  %p
    相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  %textarea
  %button
    %span.submit-comment
      コメントする

.middle-link
  = link_to "#" do
    < 薬用シュミテクト 歯周病ケア 試供品10個
  = link_to "#" do
    長財布 >

.icons-box
  .icons-box__icons-three
    = link_to "#", class: "fb-icon" do
      %i.fab.fa-facebook-square.fa-3x
    = link_to "#", class: "twitter-icon" do
      %i.fab.fa-twitter-square.fa-3x
    = link_to "#", class: "pint-icon" do
      %%i.fab.fa-pinterest-square.fa-3x

%section.other-sell
  = link_to "#", class: "seller-name" do
    ○○さんのその他の出品
  .wrapper
    =render partial: "products/category/other_myproducts"


-# ここから、「その他の関連商品」
%section.other-sell
  = link_to "#", class: "relation-name" do
    ブランドのその他の商品
  .wrapper
    =render partial: "products/category/other_brands"



=render partial: "layouts/banner-bottom"
=render partial: "layouts/footer"

