%header.single-header-one
  .header-min
    %h1
      =link_to '/' do
        %svg{viewbox: "0 0 281.19 84.08", xmlns: "http://www.w3.org/2000/svg", width: "190"}
          %defs
            :css
              .cls-1{fill:#dc4912;stroke:#fff;stroke-miterlimit:10;}.cls-2{font-size:48px;fill:#231815;font-familyYu:Go-Bold-83pv-RKSJ-H, YuGothic;}
          %title アセット 3
          %g{"data-name": "レイヤー 2", id: "レイヤー_2"}
            %g{"data-name": "レイヤー 1", id: "レイヤー_1-2"}
              %polygon.cls-1{points: "36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"}
              %polyline.cls-1{points: "0.5 21.31 36.41 42.04 72.32 21.31"}
              %polyline.cls-1{points: "36.41 83.5 36.41 49.36 36.41 42.04"}
              %line.cls-1{x1: "36.41", x2: "0.5", y1: "52.41", y2: "31.67"}
              %line.cls-1{x1: "72.32", x2: "36.41", y1: "33.2", y2: "50.88"}
              %text.cls-2{transform: "translate(86.41 62.77)"} Fmarket

%main.exhibition
  .exhibition__contents
    .contents-header
      %h2 商品の情報を入力
    .up-load-box
      %h3.title-holder
        出品画像
        %span.form-require 必須
      %p 最大5枚までアップロードできます

      .up-load-box__drop-box
        %ul
          %li.upload-item
            %figure
              %img#preview
            .button
              =link_to '#', class: 'destroy' do
                削除

                
            
        %label#drop-area
          %input.drop-file-area{type: "file", multiple: 'multiple',id: "drop-upload-file", name: "image",accept: "image/*" ,}
          %pre
            ドラッグアンドドロップ 
            またはクリックしてファイルをアップロード
    .sell-content
      .form-group
        %label
          商品名
          %span.form-require 必須
        %input{name: "title", type: "text", placeholder: "商品名（必須 40文字まで)", value: ""}/

      .form-group
        %label
          商品の説明
          %span.form-require 必須
        %textarea{maxlength: "1000", name: "text", type: "text", row: "5",placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}

    .sell-content.sell-selecter
      %h3.sell-sub-head 商品の詳細
      .sell-form-box
        .form-group#category-pearent
          %label
            カテゴリー
            %span.form-require 必須
          .select-wrap
            %i.fas.fa-chevron-down
            %select.select-default
              %option ---
              %option{value: "1",}レディース
              %option{value: "2",}メンズ
              %option{value: "3",}ベビー・キッズ
              %option{value: "4",}インテリア・住まい・小物
              %option{value: "5",}本・音楽・ゲーム
              %option{value: "6",}おもちゃ・ホビー・グッズ
              %option{value: "7",}コスメ・香水・美容
              %option{value: "8",}家電・スマホ・カメラ
              %option{value: "9",}スポーツスポーツ・レジャー
              %option{value: "10",}ハンドメイド
              %option{value: "11",}チケット
              %option{value: "12",}自動車・オートバイ
              %option{value: "13",}その他

          .select-wrap.children#category-child1
            %i.fas.fa-chevron-down
            %select.select-default
              %option ---
              %option{value: "1",}child1
              %option{value: "2",}child2
              %option{value: "3",}child3
              %option{value: "4",}child4
              %option{value: "5",}child5
              %option{value: "6",}child6


          .select-wrap.children#category-child2
            %i.fas.fa-chevron-down
            %select.select-default
              %option ---
              %option{value: "7",}child7
              %option{value: "8",}child8
              %option{value: "9",}child9
              %option{value: "10",}child10
              %option{value: "11",}child11
              %option{value: "12",}child12
              %option{value: "13",}child13



          .select-wrap.grand-children#category-grand-child1
            %i.fas.fa-chevron-down
            %select.select-default
              %option ---
              %option{value: "1",}grand-child1
              %option{value: "2",}grand-child1
              %option{value: "3",}grand-child1
              %option{value: "4",}grand-child1
              %option{value: "5",}grand-child1
              %option{value: "6",}grand-child1
              %option{value: "7",}grand-child1


          .select-wrap.grand-children#category-grand-child2
            %i.fas.fa-chevron-down
            %select.select-default
              %option ---
              %option{value: "7",}grand-child2
              %option{value: "8",}grand-child2
              %option{value: "9",}grand-child2
              %option{value: "10",}grand-child2
              %option{value: "11",}grand-child2
              %option{value: "12",}grand-child2
              %option{value: "13",}grand-child2






        .form-group
          %label
            商品の状態
            %span.form-require 必須
          .select-wrap
            %i.fas.fa-chevron-down
            %select.select-default
              %option ---
              %option{value: "1",}新品、未使用
              %option{value: "2",}未使用に近い
              %option{value: "3",}目立った傷や汚れなし
              %option{value: "4",}やや傷や汚れあり
              %option{value: "5",}傷や汚れあり
              %option{value: "6",}全体的に状態が悪い
              

    .sell-content.sell-selecter
      %h3.sell-sub-head 
        %span 配送について
        = link_to root_path, class: "infomation" do
          ?
      .sell-form-box
        .form-group#delivery
          %label
            配送料の負担
            %span.form-require 必須
          .select-wrap
            %i.fas.fa-chevron-down
            %select.select-default
              %option ---
              %option{value: "1",}送料込み(出品者負担)
              %option{value: "2",}着払い(購入者負担)

        .form-group.delivarys#delivery-child1
          %label
            配送の方法
            %span.form-require 必須
          .select-wrap
            %i.fas.fa-chevron-down
            %select.select-default
              %option ---
              %option{value: "1",}未定
              %option{value: "2",}らくらく便

        .form-group.delivarys#delivery-child2
          %label
            配送の方法
            %span.form-require 必須
          .select-wrap
            %i.fas.fa-chevron-down
            %select.select-default
              %option ---


        .form-group
          %label
            発送元の地域
            %span.form-require 必須
          .select-wrap
            %i.fas.fa-chevron-down
            %select.select-default
              %option{value: ""} --
              %option{value: "北海道"} 北海道
              %option{value: "青森県"} 青森県
              %option{value: "岩手県"} 岩手県
              %option{value: "宮城県"} 宮城県
              %option{value: "宮城県"} 秋田県
              %option{value: "山形県"} 山形県
              %option{value: "福島県"} 福島県
              %option{value: "茨城県"} 茨城県
              %option{value: "栃木県"} 栃木県
              %option{value: "群馬県"} 埼玉県
              %option{value: "千葉県"} 東京都
              %option{value: "神奈川県"} 神奈川県
              %option{value: "新潟県"} 新潟県
              %option{value: "富山県"} 富山県
              %option{value: "石川県"} 石川県
              %option{value: "福井県"} 福井県
              %option{value: "山梨県"} 山梨県
              %option{value: "長野県"} 長野県
              %option{value: "岐阜県"} 岐阜県
              %option{value: "静岡県"} 静岡県
              %option{value: "愛知県"} 愛知県
              %option{value: "三重県"} 三重県
              %option{value: "滋賀県"} 滋賀県
              %option{value: "京都府"} 京都府
              %option{value: "大阪府"} 大阪府
              %option{value: "兵庫県"} 兵庫県
              %option{value: "奈良県"} 奈良県
              %option{value: "和歌山県"} 和歌山県
              %option{value: "鳥取県"} 鳥取県
              %option{value: "島根県"} 島根県
              %option{value: "岡山県"} 岡山県
              %option{value: "広島県"} 広島県
              %option{value: "山口県"} 山口県
              %option{value: "徳島県"} 香川県
              %option{value: "愛媛県"} 愛媛県
              %option{value: "高知県"} 高知県
              %option{value: "福岡県"} 福岡県
              %option{value: "佐賀県"} 佐賀県
              %option{value: "長崎県"} 長崎県
              %option{value: "熊本県"} 熊本県
              %option{value: "大分県"} 大分県
              %option{value: "宮崎県"} 宮崎県
              %option{value: "鹿児島県"} 鹿児島県
              %option{value: "沖縄県"} 沖縄県
            

        .form-group
          %label
            発送までの日数
            %span.form-require 必須
          .select-wrap
            %i.fas.fa-chevron-down
            %select.select-default
              %option ---
              %option{value: "1",}1~2日で発送
              %option{value: "2",}2~3日で発送
              %option{value: "3",}4~7日で発送



    .sell-content.sell-selecter
      %h3.sell-sub-head 
        %span 販売価格(300〜9,999,999)
        = link_to root_path, class: "infomation" do
          ?

      .sell-form-box
        %ul.sell-prace
          %li
            .prace-form
              %label.l-left
                価格
                %span.form-require 必須
              .l-right
                %span ¥
                %input{id: "input",name: "prace", type: "text", placeholder: "例）300", onkeyup:"keyup()"}/
          %li
            .l-left 
              販売手数料(10%)
            .l-right
              %span#commission -

          %li.bold
            .l-left
              販売利益
            .l-right
              %span#profit -


    .sell-content.sell-btn-box
      %ul
        %li.text-box
          %p
            = link_to root_path, class:"note" do
              禁止されている出品
            %span 、
            = link_to root_path, class:"note" do
              行為
            %span を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to root_path, class: "note" do
              偽ブランドの販売
            %span は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            = link_to root_path, class: "note" do
              加盟店規約
            %span に同意したことになります。
        %li
          %button.btn-default.btn-red
            出品する
        %li
          = link_to root_path ,class: "btn-gray" do
            もどる




%footer.single-footer
  %nav
    %ul.clearfix
      %li
        %link_to{href: ""} プライバシーポリシー
      %li
        %link_to{href: ""} メルカリ利用規約
      %li
        %link_to{href: ""} 特定商取引に関する表記
  %link_to{href: "https://www.mercari.com/jp/"}
    %svg{viewbox: "0 0 147.09 129.96", xmlns: "http://www.w3.org/2000/svg",height: "65", width: "80"}
      %defs
        :css
          .cls-3,.cls-4{fill:#231815;stroke-miterlimit:10;opacity:0.19;}.cls-3{stroke:#fff;}.cls-4{font-size:36px;stroke:#231815;font-familyYuGo-Bold-83pv-RKSJ-H, YuGothic;}
      %title アセット 13
      %g{"data-name": "レイヤー 2", id: "レイヤー_2"}
        %g{"data-name": "レイヤー 1", id: "レイヤー_1-2"}
          %polygon.cls-3{points: "71.54 83.5 35.63 62.77 35.63 21.31 71.54 0.58 107.45 21.31 107.45 62.77 71.54 83.5"}
          %polyline.cls-3{points: "35.63 21.31 71.54 42.04 107.45 21.31"}
          %polyline.cls-3{points: "71.54 83.5 71.54 49.36 71.54 42.04"}
          %line.cls-3{x1: "71.54", x2: "35.63", y1: "52.41", y2: "31.67"}
          %line.cls-3{x1: "107.45", x2: "71.54", y1: "33.2", y2: "50.88"}
          %text.cls-4{transform: "translate(0.5 117.04)"} Fmarket

  %p
    %small © Team_66a, Inc.
