%header.header
  .header__contents
    .header__contents__top
      .header__contents__top__title-image
        =link_to root_path do
          = image_tag "/fmarket_logo_red.svg", height:'40', width:'134'
                
      %form.header__contents__top__form{action: "/"}
        %input{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
        %button
          %i.fas.fa-search{height: "14", width: "14"}
    .header__contents__row
      =render partial: "layouts/select"
      .l-right
        %ul.login-nav
          - if user_signed_in?
            %li.login_menu
              = link_to root_path, class:"user_icons" do
                %i.far.fa-heart
                %span いいね一覧
            %li.login_menu
              = link_to root_path, class:"user_icons" do
                %i.far.fa-bell
                %span お知らせ
            %li.login_menu
              = link_to root_path, class:"user_icons" do
                %i.fas.fa-check
                %span やることリスト
            %li.login_menu
              = link_to mypage_path, class:"user_icons" do
                %i.fas.fa-user-circle
                %span マイページ

          - else
            %li.login-nav__sign-up
              =link_to "signup" do
                %span 新規会員登録
            %li.login-nav__log-in
              =link_to new_user_session_path do
                %span ログイン

