%nav.l-left
  %ul.searchs
    %li.searchs__category-search
      = link_to "#" do
        %i.fas.fa-list-ul
        %span カテゴリーから探す
        %ul.category-search__perents
          - @parents.each do |perent|
            %li.category-search__perents__perent
              = link_to "#" do
                =perent.name
              %ul.children
                - perent.children.each do |child|
                  %li.children__child
                    = link_to "#" do
                      =child.name  
                    %ul.grand-children
                      - child.children.each do |grandchild|
                        %li.grand-children__grand-child
                          = link_to "#" do
                            =grandchild.name



    %li.searchs__brand-search
      = link_to "#" do
        %span 
        %i.fas.fa-tag
        %span ブランドから探す
        %ul.brand-search__perents
          - @brands.each do |brand|
            %li.brand-search__perents__perent
              = link_to "#" do
                =brand.name
 
