%nav.l-left
  %ul.searchs
    %li.searchs__category-search
      = link_to "#" do
        %i.fas.fa-list-ul
        %span カテゴリーから探す
        %ul.category-search__perents
          %li.category-search__perents__perent
            = link_to "#" do
              %span レディース
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
              
              
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です

              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です

              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
                
          %li.category-search__perents__perent
            = link_to "#" do
              %span メンズ
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span ベビー・キッズ
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span インテリア・住まい・小物
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span 本・音楽・ゲーム
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span おもちゃ・ホビー・グッズ
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span コスメ・香水・美容
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span レディース
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span 家電・スマホ・カメラ
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span スポーツ・レジャー
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span ハンドメイド
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span チケット
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span 自転車・オートバイ
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span その他
            %ul.children
              %li.children__child
                = link_to "#" do
                  %span これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    = link_to "#" do
                      %span これは孫要素１-1です
          %li.category-search__perents__perent
            = link_to "#" do
              %span カテゴリー一覧

          
    %li.searchs__brand-search
      = link_to "#" do
        %span 
        %i.fas.fa-tag
        %span ブランドから探す
        %ul.brand-search__perents
          %li.brand-search__perents__perent
            = link_to "#" do
              %span シャネル
          %li.brand-search__perents__perent
            = link_to "#" do
              %span ナイキ
          %li.brand-search__perents__perent
            = link_to "#" do
              %span ルイ ヴィトン
          %li.brand-search__perents__perent
            = link_to "#" do
              %span シュプリーム
          %li.brand-search__perents__perent
            = link_to "#" do
              %span アディダス
          %li.brand-search__perents__perent
            = link_to "#" do
              %span ブランド一覧